{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags %} 
{%block content %}

<div class="contact_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="contact_taital">Add New Type Of Coffe</h1>
             <div class="bulit_icon"><img src="{% static 'assets/bulit-icon.png' %}"></div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="contact_section_2">
          <div class="row">
             <div class="col-md-12">
               <form method="post">
                  {%csrf_token%}
                <div class="mail_section_1">
                  {{ form|crispy }}
                   <button type="submit" class="send_bt"><a>SEND</a></button>
                </div>
               </form>
             </div>
           
          </div>
       </div>
    </div>
 </div>
 {%endblock content %}
