{%extends 'base.html'%}
{%load static %}
{%block content %}
<div class="client_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="about_taital">What syas customers</h1>
             <div class="bulit_icon"><img src="{% static  'assets/bulit-icon.png' %}"></div>
          </div>
       </div>
       <div class="client_section_2">
         {%for client in clients%}
          <div class="client_taital_main">
             <div class="client_left">
                <div class="client_img"><img src="{{client.user_image.url}}"></div>
             </div>
             <div class="client_right">
                <h3 class="moark_text">{{client.user_name}}</h3>
                <p class="client_text">{{client.message}}</p>
             </div>
          </div>
         {%endfor%}
       </div>
    </div>
 </div>
 {%endblock content%}